.site-footer {
    padding-top: 2%;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: lighten($text-color, 30%);
    font-size: 0.9em;

    border-top: 1px solid $border-color;

    .footer-icons {
        ul {
            list-style: none;
            li {
                display: inline;
            }
        }
    }
}
